/* Sidebar custom style */
.nav-header-top {
    padding-top: 15px !important;
    padding-bottom: 0px !important;
}
.nav-header-title {
    border-radius: 3.5%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.product-list {
    padding-top: 15px;
}

body#background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* form#cart{
    all: unset !important;
} */